#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background: url("https://plus.unsplash.com/premium_photo-1683309567322-e95b9f182dcc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHBvcnRmb2xpbyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  width: 100%;
  right: 0;
  padding-inline-start: 70%;
  height: 55px;
}

nav Links {
  display: flex;
  justify-content: space-between;
}

.home {
  padding-left: 50px;
}
.about,
p {
  color: black;
}
.about {
  background-color: rgb(168, 161, 157);
  opacity: 0.8;
}

li {
  list-style: none;
}
.card {
  background-color: rgb(168, 161, 157);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dotted #020202;
  margin-bottom: 10px;
  opacity: 0.8;
}
.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
