:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #e40224;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #000000;
}
p {
  color: #000000;
}
h4,
h2 {
  color: #5f5135;
}
h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}
button {
  border-radius: 8px;
  border: 2px solid;
  border-color: #5f5135;
  padding: 0.8em 2em;
  font-size: 1em;
  color: #5f5135;
  font-weight: 500;
  font-family: inherit;
  background-color: #9d8167;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: #090909;
  border-radius: 40px;
}
button:focus,
button:focus-visible {
  outline: 2px solid rgb(37, 109, 15);
}

/*  -webkit-focus-ring-color */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #1b1b1c;
  }
  button {
    background-color: #f9f9f9;
    /* width: 10px; */
  }
}
/* #9d8167; */
